---
import Main from '../layouts/Main.astro';
import AudioPlayer from '../components/AudioPlayer.svelte'
---
<Main title="Beep Boop Productions">
    <AudioPlayer/>
</Main>

<style lang=scss>

</style>
